
@charset "UTF-8";
/* Notosans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* 나눔 스퀘어 */
@font-face {
    /* font 스타일 외부 파일연결법 */
    font-family: "NanumSquare_acB";
    src:url(./fonts/NanumSquare_acB.ttf);
}



/* 전체 영역  */
.wrap {
    /* 가로사이즈 */
    width: 1400px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    overflow:hidden;
}

/* header */
/* 항상 종속 선택자 주의 (하위선택자로 종속선택자를 표기하는 경우가 많다 ***주의 */
header {
    /* 헤더 전체를 float 정렬 대신 flex 로 정렬 */
    display:flex;
    /* 아이템들 사이에 공간을두고 정렬 */
    justify-content: space-between;
    border:1px solid black;
}
header #gnb-logo {
    width: 240px;
    height: 90px;
    background: url(../img/logo.png) no-repeat left center;
    background-size: auto 90px;
    text-indent: -9999px;
}
header nav ul.gnb  {
    height: 90px;
    
}
header nav ul.gnb li {
    /* 가로배치 */
    display:inline-block;
    height: 90px;
    /* 줄높이하고 높이하고 가능한 맞춰준다. */
    line-height:90px ;
    /* 위아래 0 좌우 30 */
    padding: 0 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
}
header nav ul.gnb li a {
    font-family: "NanumSquare_acB";
}
header nav ul.gnb li:hover a {
    color:cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 8px;
}
header .category {
    height: 90px;
    line-height: 90px;
    padding: 0 30px;
    box-sizing: border-box;
}

/* btn 스타일  */
header .category .btn {
    /* 좌우 위아래 */
    padding: 10px 40px;
    background-color: cornflowerblue;
    color:white;
    cursor: pointer;
}

/* 사이드바 */
.sidebar {
    width: 100%;
    height: 100%;
    background-color:  rgba(64, 64, 64, 0.4);
    position: fixed;
    top:0;
    /* 슬라이드 방향이 왼쪽에서 나옴 */
    left:-100%;
    transition: all 1s ease-in-out;
    /* 전체를 덮어주기 위해서 z-index 부여 */
    z-index: -1;
    opacity: 0;

    
}
.sidebar .inner {
    position: absolute;
    /* 가운데 정렬 */
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    /* 가로 크기  */
    width: 50%;
    text-align: center;
    
}
.sidebar .inner a {
    /* 사이드 메뉴 에있는 메뉴바를 세로 배치 */
    display: block;
    margin-bottom: 40px;
    font-size: 60px;
    color:#ddd;
}

.sidebar .inner a:hover {
    /* 글자 확대 */
    transform: scale(1.2);
    color:cornflowerblue;
    transition: all 0.3s ease;
   
}

/* .sidebar .inner a.active {
    
    color:cornflowerblue;
    transition: all 0.3s ease;
} */

/* category 를 채크했을때, 사이드바 */
input#category:checked ~ .sidebar {
    /* 
     z-index: -1;
    opacity: 0;
    사이드바에 있던 z-index 와 opacity 가 종속 선택자인 input#category 를 채크했을때 sidebar
    opacity z-index 변경
     */
    opacity:1;
    z-index: 3;
    /* 
    left: -100%; 인 값이 채크 되었을때 left:0; 값으로 왼쪽에서 오른쪽으로 슬라이드구동
    슬라이드 방향이 왼쪽에서 나옴 
    */
    left:0;
}

/* 가상 선택자  */
/*  input[type 중 name 이 category인 타입을] 디스플레이 none 으로 없앤다. */
input[name='category'] {display: none;}


.sidebar .close {
    /* 브라우저를 기준으로  */
    position: fixed;
    top:5%;
    right:10%;
    color:white;
    font-size: 40px;
    cursor: pointer;
}



