*{
    margin:0;
    padding:0;
}

.container {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    border: 1px dashed orange;
}

ul {list-style-type: none;}

ul li a {text-decoration: none; color:black;}


header {position: relative;}

header nav {float: left; height: 50px; text-align: center;}

header nav .mainmenu {width: 600px; line-height: 60px; }

/* class mainmenu  밑에있는 li 태그 를선택 */
header nav .mainmenu > li {width: 25%; height: 100%; float:left; color:black; transition: all 0.4s;}


header nav .mainmenu > li:hover {background-color: royalblue;}

header nav .mainmenu > li:hover > a {color:white;}

header nav .submenu {display: none; z-index: 2;}

/* header nav .mainmenu > li:hover .submenu */
header nav .mainmenu:hover .submenu {display:block; z-index: 3;}

header nav .submenu li {background-color: #ddd; color:black; transition: all 0.4s;}

header nav .submenu li:hover {background-color: cornflowerblue;}

/* :hover a 인상태일때 아래 태그에 설정부여 */
header nav .submenu li :hover a {color:black;}

header nav .subback {
    display: none; 
    left: 0; 
    margin-top: 60px;
    width: 1200px;
    height: 240px;
    background-color: #ddd;
}


/* ~ 인접 */
header nav .mainmenu:hover ~ .subback {
    display:block;
    z-index: 1;
}

header nav .subback:hover {
    display:block;}


    header nav .subback:hover ~ .mainmenu .submenu {display: block;}